# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
build/

# Logs
*.log

# Uploaded files
uploads/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
